<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Backbone.js Todos</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}todo_client/todos.css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}todo_client/login.css"/>
</head>
<body>

  <div id="todoapp">

    <header>
      <h1>Welcome to Todos!</h1>
      <h4>please login or register</h4>
      {% if form.errors %}
      <p class="error"><b>{{ form.errors }}</b></p>
      {% endif %}
      <form class="login-form" method="POST" action="{% url django.contrib.auth.views.login %}">
        {% csrf_token %}
        {{ form.username }}
        {{ form.password }}
        <input type="submit" value="Login" />
        <input type="hidden" name="next" value="{% if next%}{{ next }}{% else %}/{% endif%}" />
      </form>
      <p class="fineprint">$ python manage.py adduser username password [email]<br>to create new users</p>
    </header>

  </div>

  <script src="{{ STATIC_URL }}todo_client/vendor/jquery-1.7.1.js"></script>
  <script type="text/javascript">
    $("#id_username").attr("placeholder", "username");
    $("#id_password").attr("placeholder", "password");
  </script>
</body>
</html>